/* colors */
body {
  background: rgb(148, 164, 235);
}

input{
  color: rgb(80, 94, 153);
  border-color: rgb(90, 112, 213);
}
input:focus {
  outline: none;
  box-shadow: 0 0 10px #5080b4;
}
.btn {
    width: 45px;
    height: 25px;
    border-radius: 17%;
}
#input-one{
    width: 136px;
    border-radius: 5%;
}
.error-highlight{
  outline: none;
  border-color: 2px #bf3826;
  box-shadow: 0 0 10px red;
} 

#container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


#form div {
    margin: 2px;
}